<ng-container *ngIf="true">
 <div class="container">
  <div class="card-table">
    <div class="cart-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.p_name}}</td>
            <td>{{item.p_details}}</td>
            <td>{{item.p_cost}}</td>
            <td>{{item.p_availability}}</td>
            <td>{{item.total}}</td>
            <td><button (click)="removeItem(item)" class="btn btn-primary">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-tittle"></h5>
    </div>
    <div class="center">
      <img src="" alt="" />
      <i
        style="color: rgb(0, 0, 0); font-size: 25px"
        class="fas fa-shopping-cart"
      >
        <strong style="font-family: sans-serif"> SHOP CART</strong>
      </i>

      <h4>Your Cart is Empty</h4>
      <h6>Add item to it now</h6>
      <button class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
