<header>
  <div class="navbar bg-primary shadow-sm">
    <nav class="navbar">
      <div class="navbar-brand align-item-center d-flex">
        <i style="color:aliceblue;font-size: 25px;" class="fas fa-shopping-cart">
          <strong style="font-family: sans-serif;"> SHOP CART</strong>

        </i>

        <div class="form-group">
        </div>
        <input type="text" class="form-control" placeholder="Search product" >
      </div>
      <i style="color:#fff" class="fas fa-search"></i>
    </nav>
    <button routerLink="cart" class="btn btn-primary"><i style="font-size: 25px;" class="fas fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItem}}

      </div></button>


</div>
</header>
